.modal_edit {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal_inner {
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.modal_edit-open {
    display: flex;
}

.modal-delete-h2 {
    font-family: Montserrat;
}

.movies_delete-modal-btns {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.modal-delete-CloseBtn {
    font-family: Poppins;
    padding: 9px 16px;
    background-color: green;
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.modal-delete-Btn {
    font-family: Poppins;
    padding: 9px 16px;
    background-color: red;
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}